.DS_Store

# NPM
node_modules/
package-lock.json

# Dev
dev/
dev_firefox/
dev_safari/
dev_chromium/

# Prod
dist/
dist_firefox/
dist_safari/
dist_chromium/
dist_ios/
builds/
assets/shared

# Xcode
*.xcuserstate
xcuserdata/
xcshareddata/

.cursorrules
.env
context/
